<!DOCTYPE html>
<html  lang="ro">
    <head>
        
        <title>
            <%= titlu || "Universul Cărților" %>
        </title>
        <%- include('../fragmente/head.ejs') %>
    </head>
    <body>
        <%- include('../fragmente/header.ejs') %>
    <main>
        <h2>Mihai Eminescu (1850-1889)</h2>
        <h3>Biografie Scurtă</h3>
        <p>Mihai Eminescu, considerat cel mai mare poet român, s-a născut pe 15 ianuarie 1850 în Botoșani, Moldova. A fost un poet, prozator și jurnalist, cunoscut pentru stilul său romantic și viziunea profund filozofică asupra existenței. A studiat la Cernăuți, Viena și Berlin, dobândind o educație vastă în filozofie, istorie și literatură. Cariera sa de jurnalist și activitatea la „Timpul” i-au marcat viața și sănătatea. A murit la vârsta de 39 de ani, pe 15 iunie 1889, la București.</p>
    </main>

    <%- include("../fragmente/footer.ejs")  %>

    </body>
</html>