<footer>
    <h2>Detalii Contact:</h2>
    <address id="contact">
        <p>Telefon: <a href="tel:+4011111">+4011111</a></p>
        <p>Adresă: <a href="https://maps.app.goo.gl/pCHFjR4EhUR4hU7A9" target="_blank">Strada Librăriei, Nr. 45, București</a></p>
        <p>Email: <a href="mailto:contactus@librarieOnline.ro">contactus@librarieOnline.ro</a></p>
        <p>Chat: <a href="https://wa.me/4011111" target="_blank">WhatsApp</a></p>
    </address>
    <a href="#" title="Înapoi către începutul paginii" id="link-top">
        <div id="top"><span id="arrow">&#129081;</span></div>
    </a>
    <small>
        &copy; <time datetime="2024-11-30">30 Noiembrie 2024</time> Librărie Online. Toate drepturile rezervate.
    </small>
    <p id="banner">Acesta este un proiect școlar!</p>
</footer>
